<!-- formateur-add.component.html -->
<h2 mat-dialog-title>Add New Formateur</h2>
<mat-dialog-content>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input matInput placeholder="Nom">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Prénom</mat-label>
      <input matInput placeholder="Prénom">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Numéro de téléphone</mat-label>
      <input matInput placeholder="Numéro de téléphone">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>CIN</mat-label>
      <input matInput placeholder="CIN">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Certificat</mat-label>
      <input matInput placeholder="Certificat">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary"    >Add</button>
</mat-dialog-actions>
